.sk-project-list-control {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 1001;
    border-radius: 10px;
    padding: 15px 20px !important;
}

.sk-elements-list > a > li:nth-child(n+2){
    border-top: 1px solid #e5e5e5;
}

.sk-elements-item {
    padding: 10px;
    font-size: 10px;
}

li.sk-elements-item {
    position: relative;
    font-size: 9px;
    &:hover:before {
        content: "";
        position: absolute;
        top: 19px;
        left: -10px;
        width: 15px;
        border-top: 2px solid $base-red;
        z-index: 1200;
    }
}

.uk-card-title-small {
    font-size: 1rem;
    line-height: 1.4;
    /* font-weight: 600; */
}

.sk-project-list-control-collapsed {
    top: 20px;
    right: 20px;
    position: absolute;
    z-index: 1002;
    border-radius: 10px;

    & > button {
        padding: 7px 15px;
        font-size: 0.7em;
        color: $base-gray;
    }

    & > button:first-of-type {
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }

    & > button:last-of-type {
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    }
}
.sk-legend-list {
    top: 77px;
    right: 20px;
    position: absolute;
    z-index: 1002;
    border-radius: 10px;
    background-color: #ffff;
    padding: 8px;
    font-size: 10px;
}
.item {
    padding: 10px;
    margin-bottom: -4px !important;
    display: inline-block;
  }

.sk-elements-list-item-description {
    font-size: 10px;
    padding: 5px 0 10px 0;
    margin: 0;
    color: #999;

    a {
        color: $base-link-color !important;
    }
}
